services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./:/etc/nginx/conf.d/
    depends_on:
      - backend
      - db
    container_name: nginx
    networks:
      - network

  db:
    image: postgres:alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    container_name: db
    environment:
      POSTGRES_DB: timemanager
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    networks:
      - network

  backend:
    build:
      context: ..
      dockerfile: .deploy/php.Dockerfile
    volumes:
      - ..:/var/www
    working_dir: /var/www
    container_name: backend
    networks:
      - network

networks:
  network:

volumes:
  db_data:
